{% load static %}
<!DOCTYPE html>
<html>
    <head>
    </head>
    <header>
            <nav>
              <h1>
                Title goes here
              </h1>
                <ul>                  
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">News</a></li>
                    <li><a href="#contact">Contact</a></li>                       
                    <li><a href="#about">About</a></li>
                </ul>
            </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
    </footer>