{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<h2>Welcome to the detail page</h2>
<h3>Name: {{ project.name }}</h3>
<p>Main Category: {{ project.main_category }}</p>
<p>Category: {{ project.category }}</p>
<p>Currency: {{ project.currency }}</p>
<p>Deadline: {{ project.deadline }}</p>
<p>Goal: {{ project.goal }}</p>
<p>Launched: {{ project.launched }}</p>
<p>Pledged: {{ project.pledged }}</p>
<p>State: {{ project.state }}</p>
<p>Backers: {{ project.backers }}</p>
<p>country: {{ project.country }}</p>
<p>USD Pledged: {{ project.usd_pledged }}</p>

{% endblock content %}